server {
        listen 62.210.106.114:80;
        listen [2001:bc8:3d8b:100::100]:80;

        listen 62.210.106.114:443 ssl  http2;
        listen [2001:bc8:3d8b:100::100]:443 ssl  http2;

	ssl_certificate /etc/letsencrypt/live-ecdsa/rss.nicolas-simond.com/chain.pem;
	ssl_certificate_key /etc/letsencrypt/live-ecdsa/rss.nicolas-simond.com/privkey-p384.pem;

        server_name rss.nicolas-simond.com www.rss.nicolas-simond.com;

        root   /var/www/rss/;


        index index.html index.php;

        if ($scheme != "https") {
            rewrite ^ https://$http_host$request_uri? permanent;
        }

        location /.well-known/acme-challenge {
                alias /var/www/rss/.well-known/acme-challenge/;
        }

        error_log /var/log/rss.nicolas-simond.com/error.log;
        access_log /var/log/nginx/access.log combined;

        location = /favicon.ico {
            log_not_found off;
            access_log off;
        }

        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }

        location ~ ^.+?\.php(/.*)?$ {
            try_files $uri =404;
            include /etc/nginx/fastcgi_params;
            fastcgi_pass unix:/var/lib/php7.0-fpm/rss.sock;
            fastcgi_split_path_info ^(.+\.php)(/.*)$;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_intercept_errors on;
        }




        location / {
            try_files $uri $uri/ index.php;
        }

}
